body {
  font-family: "Almarai", sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1e293b;
}

.upload-box {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: #fff;
  font-size: 15px;
}

button:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.table-wrapper {
  max-height: 400px;
  overflow: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

th {
  background: #f1f5f9;
  position: sticky;
  top: 0;
}

.stats {
  margin-top: 10px;
  font-weight: bold;
  color: #334155;
  text-align: center;
}
#downloadBtn {
   display: block;
   margin: 20px auto 0;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 40%; */
}